body {
  font-size: 18px;
  background-color: #222;
  text-align: center;
  font-family: 'VT323', monospace;
}
#project {
  width: calc(643px / 3);
  margin: 2em auto;
  height: 428px;
  border: 5px solid white;
  background-color: tan;
  position: relative;
  z-index: -2;
}
h1 {
    font-family: 'VT323', monospace;
  font-size: 2em;
  color: white;
}
p {
    font-size: 1.5em;
    color: white;
}
#container {
  position: relative;
}
#top {
  width: calc(643px / 3);
  height: 228px;
  background: url("https://gnome-sequencing-project.s3.amazonaws.com/frame-sm-1.png")
    repeat-x;
  position: absolute;
  background-position: 0px top;
  top: -10px;
  z-index: 0;
  margin: 0 auto;
}
#middle {
  width: calc(643px / 3);
  height: 228px;
  background: url("https://gnome-sequencing-project.s3.amazonaws.com/frame-sm-2.png")
    repeat-x;
  background-position: 0px top;
  position: absolute;
  top: 150px;
  z-index: 1;
}
#bottom {
  width: calc(643px / 3);
  height: 228px;
  background: url("https://gnome-sequencing-project.s3.amazonaws.com/frame-sm-3.png")
    repeat-x;
  background-position: 0px top;
  position: absolute;
  top: 195px;
  z-index: -1;
}
button {
    font-family: 'VT323', monospace;
  font-size: 1.2em;
  font-weight: 500;
  padding: 1em;
  background: white;
  border: none;
  border-radius: 5px;
  width: 100%;
  max-width: calc(643px / 3 + 10px);
  margin: 0em auto;
}
